# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
db.*
.sqlite3
*.log
db.sqlite3

venv
env/
.env
.venv
venv/*

# other
.DS_Store

# javascript
package-lock.json
.vscode/*
