{% extends "layouts/base.html" %}

{% block title %} Laudo {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div>
            <div class="label">
                <label class="btn btn-secondary d-inline-flex align-items-center me-2">Laudo No:</label>                
            </div>
        </div>        
    </div>

    
    <div class="container-fluid">                           
        <div class="card card-body border-0 shadow mb-4">            
            <div class="row justify-content-between">
                <div class="col-auto  col-md-2 mb-0">
                    <label>CÓDIGO UN.</label>
                    <label class="form-control">{{ request.user.first_name }}</label>  
                </div> 
                <div class="col-auto  col-md-10 mb-3">
                    <h2 class="h2 mb-5 row justify-content-center">Ficha de Imóveis</h2>
                </div>  
            </div>            
            <div class="row mb-3 justify-content-center">                
                <div class="col-md-auto col-auto">         
                        <label class="py-2">Canto de Pedra: </label>                                      
                </div>
                <div class="col-md-auto col-auto">
                    <label class="form-control">Sim</label>   
                </div> 
                                  
                <div class="col-sm-auto offset-sm-7 justify-content-md-end">                    
                        <label class="h6">Data: </label>                
                </div> 
                <div class="col-sm-auto">
                    <label class="h6">16/03/2021</label>
                </div>                                              
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 mb-3">
                    <div id="linha">
                        conteudo da div
                    </div>
                </div>
            </div>  
            
            <div class="card col-md-12  card-body border-1 shadow mb-4">
                <div class="col-11 row justify-content-center">            
                    <div class="col-sm-1 mb-1">                   
                            <label class="py-2">Tipo:</label>
                    </div>
                    <div class="col-sm-4 mb-1">
                        <label class="form-control">{{ request.user.first_name }}</label>
                    </div>
                    <div class="col-sm-1 mb-1 offset-sm-1">
                            <label class="py-2">Bairro:</label>
                    </div>
                    <div class="col-sm-4 mb-1">
                        <label class="form-control">{{ request.user.first_name }}</label>
                    </div>
                </div>
                <div class="col-11 row justify-content-center">
                    <div class="col-md-1 mb-1">
                            <label class="py-2">Endereço:</label>    
                    </div>
                    <div class="col-md-10 mb-1">
                        <div>                             
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 mb-1">
                            <label class="py-2">Localização:</label>    
                    </div>
                    <div class="col-md-10 mb-1">
                        <div>                             
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 mb-1">
                            <label class="py-2">Condomínio:</label>    
                    </div>
                    <div class="col-md-10 mb-1">
                        <div>                             
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 mb-1">
                            <label class="py-2">Nome do Edifício:</label>    
                    </div>
                    <div class="col-md-10 mb-1">
                        <div>                             
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                </div>
        </div>

            <div class="card col-md-12  card-body border-1 shadow mb-4">
                <div class="col-11 row justify-content-center">            
                    <div class="col-auto row col-md-1 mb-1">                   
                            <label class="py-2">Posição:</label>
                    </div>
                    <div class="col-auto row col-md-3 mb-1">
                        <label class="form-control">{{ request.user.first_name }}</label>
                    </div>
                    <div class="col-auto row col-md-1 mb-1">
                        <div class="col-md-auto"><label class="py-2">SOL:</label></div>
                        
                    </div>
                    <div class="col-auto row col-md-2 mb-1">
                        <div class="col-md-auto"><label class="form-control">Manhã</label></div>
                    </div>
                    <div class="col-auto row col-md-1 mb-1">                   
                        <label class="py-2">Placa::</label>
                    </div>
                    <div class="col-auto row  col-md-2 mb-1">
                        <label class="form-control">{{ request.user.first_name }}</label>
                    </div>
                    <div class="col-auto row col-md-1 mb-1">                   
                        <label class="py-2">Chave:</label>
                    </div>
                    <div class="col-auto row col-md-2 mb-1">
                        <label class="form-control">{{ request.user.first_name }}</label>
                    </div>
                </div>
            </div>


            <div class="col-md-2 mb-1">
                <div>
                    <label>Primeiro Nome</label>                                
                    <label class="form-control">{{ request.user.first_name }}</label>
                </div>
            </div>            
            <div class="col-md-2 mb-1">
                <div>
                    <label for="first_name">Primeiro Nome</label>                                
                    <label class="form-control">{{ request.user.first_name }}</label>
                </div>
            </div>           

        </div>
    </div>  
    
    
    
    
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
