{% extends "layouts/base.html" %}

{% block title %} Laudo {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div>
            <div class="label">
                <label class="btn btn-secondary d-inline-flex align-items-center me-2">Laudo No:</label>                
            </div>
        </div>        
    </div>

    
    <div class="container-fluid">                           
        <div class="card card-body border-0 shadow mb-4">
            <div class="row">
                <div class="col-md-2 mb-0">
                    <label>CÓDIGO UN.</label>
                    <label class="row justify-content-center form-control">{{ request.user.first_name }}</label>  
                </div> 
                <div class="col-md-10 mb-0"><h2 class="h2 mb-5 row justify-content-center">Ficha de Imóveis</h2></div>  
                <div class="row">
                
                    <div class="col-md-2 mb-1">
                        <div>
                            <label for="first_name">Primeiro Nome</label>                                
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                    
                    <div class="col-md-10 mb-1">
                        <div>
                            <label for="last_name">Sobre Nome</label>
                            <input class="form-control" id="last_name" type="text" Value="{{ request.user.last_name }}"  placeholder="Seu sobre nome" required>
                        </div>
                    </div>
                    
                </div>
            </div> 
            
            
            <div class="col-md-12 mb-1">
                <div class="row">
                    <div>
                        <label for="first_name">Primeiro Nome</label>                                
                        <label class="form-control">{{ request.user.first_name }}</label>
                    </div>
                    <div class="col-md-2 mb-1">
                        <div>
                            <label for="first_name">Primeiro Nome</label>                                
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-1">
                        <div>
                            <label>Primeiro Nome</label>                                
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-1">
                        <div>
                            <label>Primeiro Nome</label>                                
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-1">
                        <div>
                            <label>Primeiro Nome</label>                                
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-1">
                        <div>
                            <label>Primeiro Nome</label>                                
                            <label class="form-control">{{ request.user.first_name }}</label>
                        </div>
                    </div>

                    
                <div class="col-md-2 mb-1">
                    <div>
                        <label for="first_name">Primeiro Nome</label>                                
                        <label class="form-control">{{ request.user.first_name }}</label>
                    </div>
                </div>
            </div>


        </div>
        </div>  
        
        
    
        
       





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
